/* Start - Font Imports */

/* End - Font Imports */

/* Start - Fonts */

$fontFallback: -apple-system,".SFNSText-Regular","San Francisco","Roboto","Segoe UI","Helvetica Neue","Lucida Grande",Arial,sans-serif;
$fontFallbackMonospace: source-code-pro, Menlo, Monaco, Consolas, 'Courier New', monospace;

/* End - Fonts */

/* Start - Colors */

$colorLink: #52adc8;
$colorText: #494e52;
$colorMenuItem: #7a8288;

/* End - Colors */

/* Start - Font Sizes */

$fontSizeRoot: 18px;
$fontSizeRoot-sm: 16px;

/* End - Font Sizes */

/* Start - Dimensions */

/* End - Dimensions */