@import 'reset';
@import 'definitions';

html {
  font-size: 18px;
}

body {
  margin: 0;
  font-family: $fontFallback;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;

  color: $colorText;

  line-height: 1.5;
}

code {
  font-family: $fontFallbackMonospace;
}
